body {
  font-family: 'Lora', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  background: #F8F6F4;
}

p {
  width: auto;
  font-weight: 400;
  font-size: 1.2rem;
}

h1, h2 {
  font-size: 1.5rem;
  text-align: center;
  width: auto;
}

.project {
  text-align: center;
}

img {
    border: 10px white solid;
    width: 60%;
  }

#info {
   text-align: center;
   margin: 10px;
   padding: 10px;
  font-size: 1.3rem;
}


