html {
  font-weight: 400;
  font-family: "Gill Sans", sans-serif;
  font-size: 1.3em;
  background: #fff8dc;
  color: rebeccapurple;
  }
        
a {text-decoration-line: none;}

p {width: 50%;}

h1, h2 {text-align: center;}
