body {
  font-family: 'Lora', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  background: #F8F6F4;
}

p {
  width: auto;
  font-weight: 400;
  font-size: 1.2rem;
}

h1, h2 {
  font-size: 1.4rem;
  text-align: center;
  width: auto;
}

img {
    border: 1px solid;
    height: 350px;
    width: 350px;
}

#info {
   margin: 10px;
   padding: 10px;

}


